<div class="container-fluid text-center">
  <h4>CENTRAL DE SOLICITAÇÕES DE CRÉDITO</h4>
  <%= link_to "Cadastrar Solicitante", new_requester_path, class:'btn btn-info'  %>
  <%= link_to "Solicitar Crédito", new_credit_request_path, class:'btn btn-info'%>
</div>
                                    